<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Checkout - Casify</title>
    <link rel="stylesheet" href="static/css/checkout.css">
</head>
<body>
    <header>
        <div class="logo">
            <h1 class="logo-text">Casify</h1>
        </div>

    </header>
    
    <section class="checkout">
        <h1>Checkout</h1>
        <div class="checkout-container">
            <h2>Shipping Information</h2>
            <form id="checkout-form">
                <input type="text" placeholder="Full Name" required>
                <input type="text" placeholder="Address" required>
                <input type="text" placeholder="City" required>
                <input type="text" placeholder="Postal Code" required>
                <input type="tel" placeholder="Phone Number" required>
                
                <h2>Payment Method</h2>
                <select>
                    <option value="credit_card">Credit Card</option>
                    <option value="paypal">PayPal</option>
                    <option value="cash_on_delivery">Cash on Delivery</option>
                </select>
                
                <button type="submit" class="checkout-btn">Place Order</button>
            </form>
        </div>
    </section>
    
    <footer>
        <p>&copy; 2025 Casify. All Rights Reserved.</p>
    </footer>
</body>
</html>
